body {
    font-family: 'Lato',
    sans-serif;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #ef6c00;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #ef6c00;
    box-shadow: 0 1px 0 0 #ef6c00;
  }